/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #BBBBBB;
    background-color: #121212;
    line-height: 1.6;
    padding-top: 60px;
}

header {
    background-color: #121212;
    border-bottom: 1px solid #ddd;
    position: fixed;
    height: 94px;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #BBBBBB;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1E90FF;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    background-color: #121212;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1E90FF;
    border-bottom: 2px solid #007BFF;
    display: inline-block;
    padding-bottom: 0.3rem;
}

.projeto {
    margin-bottom: 1.5rem;
}

.projeto h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.projeto p {
    margin-bottom: 0.5rem;
    color: #666;
}

.projeto a {
    color: #1E90FF;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.projeto a:hover {
    color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
    color: #BBBBBB;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 0.8rem;
    border: none;
    background-color: #1E90FF;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: 2rem;
}
